[Unit]
Description="TIER IV SYNC.TOOLING worker"
After=network.target

[Service]
Type=simple
ExecStart={{ run_script_path }} diag-worker -4 {{ sync_worker.ptp4l_units | join(" ") }} -2 {{ sync_worker.phc2sys_units | join(" ") }}
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target