[Unit]
Description="TIER IV SYNC.TOOLING master"
After=network.target

[Service]
Type=simple
ExecStart={{ run_script_path }} diag-master {{ sync_master.bind_ip }}
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target